# Eclipse
bin/
tmp/

# Maven
target/

# Distribution
distribution/jpackage-out
distribution/DisplayHotKeys.exe
distribution/DisplayHotKeysLauncher.exe
distribution/DisplayHotKeysInstaller.exe

# JNI DLLs
GetDisplay.dll
SetDisplay.dll
DisplayEventNotifier.dll
